* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: red;
}

.header-top {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.main {
  width: 500px;
  margin: 0 auto; 
  display: flex;
  justify-content: center; 
}

.center {
  width: 500px;
  height: 1400px;
  background-color: green;
}

.right {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.left {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}
